<main>
  <h1>Mandatory Videos</h1>
  <p class="subtitle">
    Videos should be watched by the end of the week or the teacher will be
    notified
  </p>
  <section class="mandatory-videos">
    <div class="video" *ngFor="let vid of mustWatchVids">
      <img
        [src]="'https://img.youtube.com/vi/' + vid.id + '/0.jpg'"
        alt="video thumbnail"
      />
      <div class="overlay">
        <p>{{ vid.name }}</p>
        <button>Watch</button>
      </div>
    </div>
  </section>
  <br />
  <hr />
  <h1>Explore</h1>
  <p class="subtitle">Search for videos and get that precious knowledge</p>
  <input
    type="text"
    class="search"
    placeholder="Enter name of the video..."
    [(ngModel)]="searchWord"
    (ngModelChange)="filterBySearchWord()"
  />
  <section class="all-videos">
    <div class="video" *ngFor="let vid of filteredVideos">
      <img
        [src]="'https://img.youtube.com/vi/' + vid.id + '/0.jpg'"
        alt="video thumbnail"
      />
      <div class="overlay">
        <p>{{ vid.name }}</p>
        <button>Watch</button>
      </div>
    </div>
  </section>
</main>
