<main>
  <h1>{{ video.name }}</h1>
  <button class="small-button" routerLink=""><mat-icon>home</mat-icon></button>
  <button class="small-button" (click)="toggleLessionsPopup()">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button class="done-button" (click)="toggleDonePopup()">
    DONE <mat-icon>forward_arrow</mat-icon>
  </button>
  <app-yt-player
    [videoID]="video.id"
    (videoWatched)="setVideoWatched()"
    (ytPlayer)="player = $event"
  ></app-yt-player>
  <textarea placeholder="Enter your notes..."></textarea>
  <div class="timestamps">
    <button
      *ngFor="let theme of video.themes"
      [ngClass]="{ 'clicked-theme': !theme.isClicked }"
      (click)="themeClicked(theme.id)"
    >
      {{ theme.text }}
    </button>
  </div>
</main>
<app-popup
  [hidden]="hidePopup.lessions"
  title="Instructions"
  (close)="toggleLessionsPopup()"
>
  <div class="instructions">
    <p>
      Watch the video assigned by the teacher. When the video starts talking
      about the subjects that are written below the video, click on the button
      and video will stop so you can write the notes about that.
    </p>
    <p>
      After you have watched the <strong>whole</strong> video, you can once more
      go over the notes and then click DONE button, and notes will be send to
      teacher. After clicking DONE, the video will be counted as viewed.
    </p>
    <button (click)="toggleLessionsPopup()">OK</button>
  </div>
</app-popup>
<app-popup [hidden]="hidePopup.done" (close)="toggleDonePopup()" title="Done">
  <div *ngIf="video.watched; else elseBlock">
    <p>
      Good work! Teacher will be notified and happy for the effort you put into
      your own learning and growing
    </p>
    <button (click)="goToHomePage()">Go to Home page</button>
  </div>
  <ng-template #elseBlock>
    <p>
      Looks like you haven't watched enough of the video, please go back and
      watch the whole video.
    </p>
  </ng-template>
</app-popup>
