/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
}
main {
  padding: 3rem 6rem;
  height: 90vh;
}

h1 {
  font-weight: 300;
  font-family: "Inter";
  letter-spacing: 0.105em;
}

button {
  cursor: pointer;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 1.4rem;
  padding: 0.5rem 1.8rem;
  letter-spacing: 0.195em;
  color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
